<div class="card-box table-responsive">
    <h4 class="header-title m-t-0 m-b-30">Liste des utilisateurs</h4>
    <table id="datatable" class="table table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Role</th>
                <th>Actif</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.getRoleUF }}</td>
                <td>{{ user.isEnabled ? 'Oui' : 'Non' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
