{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block page_title %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-25">
        </div>
        <h4 class="page-title">Gestion des utilisateurs</h4>
    </div>
</div>
{% endblock %}

{% block toastr %}
    {% for key, flash_message in app.session.flashBag.all() %}
        {% include "toastr.html.twig" with {
          type: key,
          title: 'Utilisateur',
          message: flash_message[0]
          }
        %}
    {% endfor %}
{% endblock %}

{% block parsley %}
<script type="text/javascript">
	$(document).ready(function () {
	  $('form').parsley();
	});
</script>
{% endblock %}

{% block datatable %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatable').dataTable({
      "bLengthChange": false,
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json"
      }
    });
  });
</script>
{% endblock %}

{% block select2 %}
<script type="text/javascript">
  $(".select2").select2({
    maximumSelectionSize: 1,
    formatSelectionTooBig: function (limit) {
      return 'Vous ne pouvez selectionner qu\'un rôle';
    }
  });
</script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {{ include('UserBundle:Security:User/create.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ include('UserBundle:Security:User/table.html.twig') }}
        </div>
    </div>
{% endblock %}
