{% extends 'base.html.twig' %}

{% block title %}Gestion des candidats{% endblock %}

{% block page_title %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-25">
        </div>
        <h4 class="page-title">Bienvenue sur la partie des candidats!</h4>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <form action="{{ path('applicant_home') }}" method="post" class="form-horizontal" role="form">
        <div class="col-sm-5">
            {% include 'ApplicantBundle:Applicant:form.html.twig' %}
        </div>
        <div class="col-sm-5">
            {% include 'ApplicantBundle:Evaluation:form.html.twig' %}
        </div>
    </form>
</div>
{% endblock %}
