{% extends 'base.html.twig' %}

{% block page_title %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-25">
        </div>
        <h4 class="page-title">Bienvenue sur la partie des candidats!</h4>
    </div>
</div>
{% endblock %}

{% block body %}

{% endblock %}
