{% extends 'base.html.twig' %}

{% block title %}Gestion des candidats{% endblock %}

{% block page_title %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-25">
        </div>
        <h4 class="page-title">Bienvenue sur la partie des candidats!</h4>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-5">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Candidat</h4>
            <ul>
                <li>{{ applicant.firstName }}</li>
                <li>{{ applicant.lastName }}</li>
                <li><a href="{{ path('applicant_download_cv', {'applicant': applicant.getId}) }}">DL CV</a></li>
        </div>
    </div>
</div>
{% endblock %}
