<div class="card-box table-responsive">
    <h4 class="header-title m-t-0 m-b-30">Liste des utilisateurs</h4>
    <table class="datatable table table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Role</th>
                <th>Actif</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr {% if user == app.user %}class="info"{% endif %}>
                <td>{{ user.username }}</td>
                <td>{{ user.getRoleUF }}</td>
                <td>{{ user.isEnabled ? 'Oui' : 'Non' }}</td>
                <td class="actions">
                    <a href="javascript:void(0);"
                        onclick="deleteUser(this);"
                        data-url="{{ path('security_user_delete', {'user': user.getId}) }}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
