<div class="card-box table-responsive">
    <h4 class="header-title m-t-0 m-b-30">Liste des utilisateurs</h4>
    <table id="users-table" class="datatable table table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Role</th>
                <th>Actif</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}

                {% set currentUser = false %}
                {% if user == app.user %}
                    {% set currentUser = true %}
                {% endif %}

            <tr{% if currentUser == true %} class="info"{% endif %}>
                <td>{{ user.username }}</td>
                <td>{{ user.getRoleUF }}</td>
                <td>
                    <div class="checkbox checkbox-circle checkbox-single checkbox-custom">
                        <input class="user-update" type="checkbox"
                        {% if user.isEnabled == true %} checked{% endif %}
                        {% if currentUser == true %} disabled{% endif %}
                        data-url="{{ path('user_update_isenabled', {'user': user.getId}) }}">
                        <label></label>
                    </div>
                </td>
                <td class="actions">
                    <a href="javascript:void(0);">
                        <i class="fa fa-trash-o user-delete"
                            data-url="{{ path('user_delete', {'user': user.getId}) }}"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
