{% extends 'base.html.twig' %}

{% block title %}Données des Evaluations{% endblock %}

{% block page_title %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-25">
        </div>
        <h4 class="page-title">Gestion des données des Evaluations</h4>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-6">
        {{ include('ApplicantBundle:EvaluationDataManager:jobs.html.twig') }}
    </div>
    <div class="col-lg-6">
        {{ include('ApplicantBundle:EvaluationDataManager:specialities.html.twig') }}
    </div>
</div>
{% endblock %}
