{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}
{% block navbar %}{% endblock %}
{% block page_title %}{% endblock %}

{% block toastr %}
  {% for key, flash_message in app.session.flashBag.all() %}
      {% include "toastr.html.twig" with {
        type: key,
        title: 'Utilisateur',
        message: flash_message[0]
        }
      %}
  {% endfor %}
{% endblock %}

{% block body %}

  <div class="text-center logo-alt-box">
    <a href="#" class="logo"><span><span>LexteamExecutive</span></span></a>
    <h5 class="text-muted m-t-0">Bienvenue sur l'extranet de Lexteam-Executive</h5>
  </div>

  <div class="wrapper-page">
  	<div class="m-t-30 card-box">
      <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">Accéder à l'extranet</h4>
      </div>
      <div class="panel-body">
        <form id="security-login" class="form-horizontal m-t-10" action="{{ path('security_login') }}" method="post">
					<div class="form-group ">
            <div class="col-xs-12">
                <input
                  class="form-control" type="text"
                  id="username" name="_username"
                  required="" placeholder="Email"
                  value="{{ last_username }}">
            </div>
          </div>
          <div class="form-group">
              <div class="col-xs-12">
                  <input
                    class="form-control" type="password"
                    id="password" name="_password"
                    required="" placeholder="Mot de passe">
              </div>
          </div>
          <div class="form-group ">
              <div class="col-xs-12">
                  <div class="checkbox checkbox-custom">
                      <input
                        id="checkbox-signup" name="_remember_me"
                        checked type="checkbox">
                      <label for="checkbox-signup">
                          Se rappeler de moi
                      </label>
                  </div>

              </div>
          </div>
					<div class="form-group text-center m-t-30">
            <div class="col-xs-12">
                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light text-uppercase" type="submit">Se Connecter</button>
            </div>
          </div>
          <div class="form-group m-t-30 m-b-0">
              <div class="col-sm-12">
                  <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Mot de passe oublié?</a>
              </div>
          </div>
          <input
            type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">
				</form>
      </div>
    </div>
    <!-- end card-box -->
  </div>
  <!-- end wrapper page -->
{% endblock %}
