{% extends 'base.html.twig' %}

{% block toastr %}
  {% for key, flash_message in app.session.flashBag.all() %}
      {% include "toastr.html.twig" with {
        type: key,
        title: 'Utilisateur',
        message: flash_message[0]
        }
      %}
  {% endfor %}
{% endblock %}

{% block page_title %}
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-25">
        </div>
        <h4 class="page-title">Bienvenue sur le dashboard!</h4>
    </div>
</div>
{% endblock %}

{% block body %}

{% endblock %}
